version: '3.8'
services:
  backend:
    build:
      context: ./services/backend
      dockerfile: ../../Dockerfile
    ports:
      - "8080:8080"
    environment:
      - SPRING_FLYWAY_ENABLED=false
      - SPRING_JPA_DEFER_DATASOURCE_INITIALIZATION=true
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    depends_on:
      - db
  frontend:
    build:
      context: ./services/frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
  db:
    image: postgres:13
    environment:
      POSTGRES_DB: payroll
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data: